.officials {
    position: relative;
    width: 320px;
}

.officials .header {
    background-color: #F0F0F0;
    border-radius: 10px 10px 0px 0px;
}

.officials img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.officials .footer {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    padding-top: 90px;
    padding-bottom: 40px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.officials .footer h4 {
    color: #6278F7;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin: 4px 0;
    letter-spacing: 0.5px;
    white-space: nowrap;
    text-align: center;
}

.officials .footer h5 {
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    padding: 0 16px;
    margin: 0;
}

.officials .footer .favoritar {
    margin-top: 20px;
    font-size: 16px;
    color: #6278F7;
}


.delete {
    position: absolute;
    right: -10px;
    top: -10px;
}
