.officials {
    width: 280px;
}

.officials .header {
    background-color: #F0F0F0;
    border-radius: 10px 10px 0px 0px;
}

.officials img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.officials .footer {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    padding-top: 90px;
    padding-bottom: 40px;
}

.officials .footer h4 {
    color: #6278F7;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin: 8px;
}

.officials .footer h5 {
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    padding: 0 16px;
}

